<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" width="30" height="30" alt="">
    ChronoGiphy
  </a>
</nav>
<div class="container input_text">
  <div class="input-group d-flex justify-content-center">
    <input type="text" class="form-control" placeholder="Search GIF" aria-label="Search GIF" aria-describedby="basic-addon2" [(ngModel)]="search">
    <button class="btn btn-outline-light" type="button" (click)="onClick()">Search</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
      <div class="card" *ngFor="let source of data">
        <img class="card-img" src={{source}} alt="Card image">
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>